# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build directories
build/
bin/
obj/
Debug/
Release/
DebugPublic/
ReleasePS/
DebugPS/

# Platform-specific build directories
x64/
x86/

# Temp, log, cache, backup files
*.tmp
*.log
*.cache
*.bak

# Windows system files
Thumbs.db
Desktop.ini

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains IDEs
.idea/

# macOS
.DS_Store
